### Import libraries

In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Load Data

In [107]:
udata = pd.read_csv('https://s3-us-west-2.amazonaws.com/learn-assets.galvanize.com/gSchool/ds-curriculum/sql-block/universities.csv')

### Inspect Data

In [108]:
udata.head()

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0

In [109]:
udata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2907 entries, 0 to 2906
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2907 non-null   object
 1   address  2907 non-null   object
 2   Website  2822 non-null   object
 3   Type     2907 non-null   object
 4   Size     2829 non-null   float64
dtypes: float64(1), object(4)
memory usage: 113.7+ KB

In [110]:
udata.describe()

               Size
count    2829.00000
mean     4374.88123
std      9256.38326
min         4.00000
25%       493.00000
50%      1478.00000
75%      4064.00000
max    301323.00000

### Split the address --> City, State, ZipCode

In [111]:
var_split = udata['address'].str.split(',')
# type(var_split)
var_split

0         [800 W Jefferson,  Kirksville,  Missouri 63501]
1             [1600 Campus Court,  Abilene,  Texas 79699]
2          [2802 Moore Hwy,  Tifton,  Georgia 31793-2601]
3       [1101 E. 78th Street,  Suite 100,  Minneapolis...
4          [305 SE 2nd Ave,  Gainesville,  Florida 32601]
                              ...
2902    [13315 W. Washington Boulevard,  Los Angeles, ...
2903         [1125 E 8th St,  York,  Nebraska 68467-2699]
2904    [Country Club Rd,  York,  Pennsylvania 17403-3...
2905    [One University Plaza,  Youngstown,  Ohio 4455...
2906    [320 South Main Street,  Haverhill,  Massachus...
Name: address, Length: 2907, dtype: object

In [112]:
udata['address'] = var_split.str.get(0)
udata['City'] = var_split.str.get(1)
udata['State'] = var_split.str.get(2)
udata['Zipcode'] = var_split.str.get(-1)

splitstate = udata['State'].str.split()
splitzip = udata['Zipcode'].str.split() 

udata['State'] = splitstate.str.get(0)
udata['Zipcode'] = splitzip.str.get(-1)

In [113]:
udata.head()

,name,address,Website,Type,Size,City,State,Zipcode
0,A T Still University of Health Sciences,800 W Jefferson,WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,Kirksville,Missouri,63501
1,Abilene Christian University,1600 Campus Court,www.acu.edu,"4-year, Private not-for-profit",4669.0,Abilene,Texas,79699
2,Abraham Baldwin Agricultural College,2802 Moore Hwy,www.abac.edu,"4-year, primarily associate's, Public",3600.0,Tifton,Georgia,31793-2601
3,Academy College,1101 E. 78th Street,www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0,Suite 100,Minneapolis,55420-1554
4,Academy for Five Element Acupuncture,305 SE 2nd Ave,www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,Gainesville,Florida,32601

### Private or Public

### For-profit, Not-for-Profit

### Primarily Associate's (1 for Yes, 0 for No)


- Using the new columns you've made above (and excluding the original type column), find both the mean and median size of each university by State, by Private or Public, and by whether the university is primarily associate's or not.

- Use the tools you've learned to compute at **least** one other aggregate from the dataset

- Save the updated dataframe as a csv  (using the pandas to_csv method) and commit your files, and push up to github.